:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh; 
  overflow-x: hidden; 
  scroll-behavior: smooth;
  
}
.MainHead{
  display: flex;
  flex-direction: column;
  position: relative;
    
}
.logo-search{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(3, 78, 43);
  height: 70px;
  width: 100%; 
  position: sticky; /* Make the logo-search sticky */
  top: 0;
}
.logo-search .logo{
 display: flex;
 align-items: center;
 height: 80px;
}
.MainHead .logo h3{
  color: white;
  font-size: 30px;
  margin: 0; 
  align-items: center;
 }
.search{
  display: flex;
  height: 40px;
  position: relative;
  width: 50%;
}
.search select{
  width: 30%;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: rgb(234, 233, 233);
}
.search select option{
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: rgb(234, 233, 233);
}
.search input{
  width: 80%;
  text-indent: 35px;
  border: none;
  outline: none;
  border-radius: 0px 5px 5px 0px;
}
.Icon-Profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.profile{
  margin: 15px;
  font-size: 22px;
  color: #fff;
}
.cart{
  color: #fff;
  font-size: 22px;
  margin: 20px;
  position: relative;
  cursor: pointer;
}
.cart span{
  position: absolute;
  top: 12px;
  left: 60%;
  font-size: 12px;
  background-color: #c6cddc;
  color: black;
  border-radius: 50%;
  border: 1px solid rgb(40, 38, 38);
  padding: 2px 6px;

}
.second-header{
   width: 100%;
   margin-left: 20px;
   transition: transform 0.3s ease-in-out;
 }
.second-header ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;  
  margin: 0;
}
.second-header ul li{
font-size: 15px;
font-weight: 500;
list-style: none;
padding: 5px 10px;
margin: 8px 10px;
text-decoration: none;
}
.second-header ul li:hover{
  border-bottom: 2px solid blue; 
  }
.second-header ul #button{
 padding: 10px 60px;
 color: #fff;
 font-weight: 600;
 background-color: rgb(6, 168, 47);
 border: none;
 outline: none;
 border-radius: 5px;
}
.second-header ul li:nth-last-child(1) {
  flex-basis: 10%;
  box-sizing: border-box; 
  margin-left: 20px;
}
.second-header ul li .home-link{
   text-decoration: none;
   color: black;
  }


@media (max-width: 768px) {
  .second-header {
    height: auto;
    width: 100%;
    margin-left: 0;
  }

 }